/* You can add global styles to this file, and also import other style files */

  clr-datalist-container .clr-input-group {
    border: 0 !important;
    background: none !important;
  }
  .content-area{
    background-color: rgb(236, 243, 235);
  }