form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.clr-control-label {
  margin: 20%;
}
input {
  border: 1px solid black;
  outline: none;
  display: inline-block;
  height: 2rem;
  border-radius: 22px;
  width: 32rem;
  box-sizing: border-box;
  padding: 0 2%;
  margin: 3%;
}
.error {
  margin: 10rem;
  height: 200px !important;
  margin-top: 30rem;
  position: relative;
  top: 40px;
  right: 160px;
  color: #c21d00;
}
