
<form [formGroup]="uploadForm" clrForm>
    <div class="clr-form-control" [class.clr-error]="inputText?.invalid && inputText?.touched">
      <label for="urlInput" class="clr-control-label">Enter url:</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input type="text" id="urlInput" placeholder="Enter image url" class="clr-input" formControlName="inputText" />
          <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
        </div>
        <span clr-subtext *ngIf="inputText?.invalid && inputText?.touched">This filed is required!</span>
      </div>
    </div>
    <button [disabled]="uploadForm.invalid" 
            type="submit" 
            class="btn btn-success-outline"
            (click)="onUploadImage()">Submit</button>
  </form>
  