ul {
    list-style: none;
  }
  
  li {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 1.75rem;
  }
  
  .label-info {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    font-weight: bold;
    padding: 0px;
    display: flex;
    justify-content: space-between;  
  }

  .progress-bar{
    height: 60px;
    margin: 0.01%;
    width: 85%;
  }
  
  .progress {
    width: 0;
    height: 100%;
    margin: 30%;
  }
  .confidence {
    //text-align: right;
    margin-left: auto;
    top: 0;
  }
  .container {
    display: flex;
  }
  
  .image-container {
    flex: 1;
  }
  
  .label-container {
    flex-basis: 32%;
    padding-top: 2%;
  }
  .label-name{
    padding: 20px;
  }
  .confidence{
    padding-left: 50px;
  }
  
  .container{
    // border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
  }
  .card-img{
    width: 100%;
  }
  .clr-row{
    width: 32rem;
  }
  h5{
    font-weight: bold;
  }
  .image-prop{
    margin: 1%;
  }
  span{
    margin: 5rem;
  }