<ics-menu *ngIf="image$ | async; let image">
  <h2>Uploaded image analysis</h2>
  <div class="container">
    <div class="image-container">
      <div class="clr-row">
        <div>
          <div class="card">
            <div class="card-block">
              <div class="card-text">
                <div class="card-img">
                  <img [src]="image.url" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="label-container">
      <h5>Labels:</h5>
      <ng-container
        *ngFor="let label of image.labels | slice : 0 : 6; let i = index"
      >
        <h4>{{ label.name }}</h4>

        <clr-progress-bar
          [clrValue]="label.confidence.toFixed(0)"
          clrMax="100"
          clrSuccess
          clrLabeled
        ></clr-progress-bar>
      </ng-container>
      <div class="card-footer">
        <h5>Url:</h5>
        <p class="image-prop">{{ image.url }}</p>
        <h5>Width</h5>
        <p class="image-prop">{{ image.width }}</p>
        <h5>Height</h5>
        <p class="image-prop">{{ image.height }}</p>
      </div>
    </div>
  </div>
</ics-menu>
