<div class="main-container">
    <div class="alert alert-app-level">
    </div>
    <header class="header header-6">
    </header>
    <div class="content-container">
      <div class="content-area">
        <ng-content></ng-content> 
      </div>
      <clr-vertical-nav>
        <a clrVerticalNavLink routerLink="/" >Upload image</a>
        <a clrVerticalNavLink routerLink="/gallery" >Gallery</a>
        <a clrVerticalNavLink routerLinkActive="active" [routerLink]="imageId">View uploaded image</a>
        <!-- <a routerLink="/">Upload image</a>
        <a routerLink="/gallery">Gallery</a>
        <a [routerLink]="imageId">Single image</a> -->
      </clr-vertical-nav>
    </div>
  </div>
  
